:root {
	--true: ;
	--false: initial;
}

@media (prefers-color-scheme: dark) {
  :root {
    --is-dark: var(--true);
  }
}
@media (prefers-color-scheme: light) {
  :root {
    --is-dark: var(--false);
  }
}

:root {
  --lt-color-link:            #F52500;
  --lt-color-link-hover:      tomato;
  --lt-color-foreground:      hsl(  0,  0%, 07%);
  --lt-color-background:      hsl(  0,  0%, 95%);
  --lt-color-heading:         hsl(  0,  0%, 10%);
  --lt-color-logo:            hsl(  0,  0%, 07%);
  --lt-color-border:          hsl(  0,  0%, 75%);
  --lt-weight-body:           400;

  --dk-color-link:            var(--is-dark)  tomato;
  --dk-color-link-hover:      var(--is-dark)  hsl(11,53%, 62%);
  --dk-color-foreground:      var(--is-dark)  #00fb2af6;
  --dk-color-background:      var(--is-dark)  #0e1116;
  --dk-color-heading:         var(--is-dark)  hsl(  9,100%, 64%);
  --dk-color-logo:            var(--is-dark)  var(--color-heading);
  --dk-color-border:          var(--is-dark)  hsl(  0,  0%, 25%);
  --dk-weight-body:           var(--is-dark)  300;

  --color-link:               var(--dk-color-link       , var(--lt-color-link));
  --color-link-hover:         var(--dk-color-link-hover , var(--lt-color-link-hover));
  --color-foreground:         var(--dk-color-foreground , var(--lt-color-foreground));
  --color-background:         var(--dk-color-background , var(--lt-color-background));
  --color-heading:            var(--dk-color-heading    , var(--lt-color-heading));
  --color-logo:               var(--dk-color-logo       , var(--lt-color-logo));
  --color-border:             var(--dk-color-border     , var(--lt-color-border));
  --color-body:               var(--color-foreground);
  --weight-body:              var(--dk-weight-body      , var(--lt-weight-body));

  --font-serif:               Spectral, Georgia, serif;
  --font-sans-serif:          BerkeleyMono, neue-kabel, 'Poiret One',Vibes, 'Abril Fatface','Onyx','Helvetica Neue', Helvetica, sans-serif;
  --font-mono:                BerkeleyMono, monospace;
  --font-logo:                BerkeleyMono, 'Helvetica Neue', Spectral, john-doe, sans-serif;
  --font-body:                var(--font-sans-serif);
  --font-heading:             var(--font-sans-serif);
}

:root {
  --ratio: 1.25;
  --s-5:  calc(var(--s-4) /   var(--ratio));  /*   .33  */
  --s-4:  calc(var(--s-3) /   var(--ratio));  /*   .41  */
  --s-3:  calc(var(--s-2) /   var(--ratio));  /*   .51  */
  --s-2:  calc(var(--s-1) /   var(--ratio));  /*   .64  */
  --s-1:  calc(var(--s0)  /   var(--ratio));  /*   .80  */
  --s0:   1rem;
  --s1:   calc(var(--s0)  *   var(--ratio));  /*  1.25  */
  --s2:   calc(var(--s1)  *   var(--ratio));  /*  1.56  */
  --s3:   calc(var(--s2)  *   var(--ratio));  /*  1.95  */
  --s4:   calc(var(--s3)  *   var(--ratio));  /*  2.44  */
  --s5:   calc(var(--s4)  *   var(--ratio));  /*  3.05  */

  --space:    var(--s2);
  --measure:  min(90%, 52ch);

  --font-serif:               Spectral, Georgia, serif;
  --font-sans-serif:          BerkeleyMono, neue-kabel, 'Poiret One',Vibes, 'Abril Fatface','Onyx','Helvetica Neue', Helvetica, sans-serif;
  --font-mono:                BerkeleyMono, palatino;
  --font-logo:                var(--font-mono),'Helvetica Neue', Spectral, john-doe, sans-serif;
  --font-body:                var(--font-mono);
  --font-heading:             var(--font-mono);

  --tepiton-head-factor:      var(--s-1)
}

pre {
  overflow: scroll;
  line-height: 1.0;
}

@font-face {
  font-family: "BerkeleyMono";
  src: 
  url('../fonts/BerkeleyMono-Regular.woff2')    format('woff2'),
  url('../fonts/BerkeleyMono-Italic.woff2')     format('woff2'),
  url('../fonts/BerkeleyMono-Bold.woff2')       format('woff2'),
  url('../fonts/BerkeleyMono-BoldItalic.woff2') format('woff2'),
  url('../fonts/BerkeleyMono-Regular.woff')     format('woff'),
  url('../fonts/BerkeleyMono-Italic.woff')      format('woff'),
  url('../fonts/BerkeleyMono-Bold.woff')        format('woff'),
  url('../fonts/BerkeleyMono-BoldItalic.woff') format('woff');
  font-style: normal;
}


code  {
  font-size: var(--s-1);
  line-height: 1.3;
}

hr {
  margin: initial;
}

article {
  -webkit-hyphens: auto;
  hyphens: auto;
}


/***
 *
 *  center https://every-layout.dev/layouts/center/
 *
 ***/

 :root {
    --font-min: .5rem;
    --font-max: 2rem;
    --font-min-width: 600px;
    --font-max-width: 900px;
 }

html {
  /* https://css-tricks.com/simplified-fluid-typography/ */
  font-size: clamp(12px, .4rem + 1vw, 24px);
}

body {
  margin: 0;
  width: 100vw;
  box-sizing: content-box;
  margin-inline: auto;
  max-inline-size: var(--measure);
  /* border: 1px solid green */;

  font-size: var(--s0);
  font-family:  var(--font-body);
  line-height:  var(--s3);

  background-color: var(--color-background);
  color:            var(--color-foreground);
}

.body {
  padding-inline-start: 1rem;
  padding-inline-end: 1rem;
}

main {
  margin-block-start: 0 !important;
}

.newlines p {
  margin-top: 0;
  margin-bottom: 0;
}

/***
 *
 *  footer
 *
 ***/

footer {
  font-family:      var(--font-heading);
  font-size:        var(--s-2);
  line-height:      1.5;
  display:          flex;
  flex-wrap:        wrap;
  border-top:       1px solid var(--color-border);
  margin-top:       var(--s-1);
  margin-bottom:    var(--s-3);
  padding-top:      var(--s-3);
  justify-content:  space-between;
}

footer div {
  max-width: 100%;
}

footer button {
  font-size: inherit;
}

footer *,
footer * + * { margin-top: 0 !important; }

footer > :nth-last-child(n+ 5),
footer > :nth-last-child(n+ 5) ~ * {
  flex-basis: 100%;
}

/***
 *
 *  stack https://every-layout.dev/layouts/stack/
 *
 */

 ul,
 .stack {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

ul,
.stack  * {
  margin-block: 0;
}

ul li + li
 {
   --space: 0rem;
 }

.stack  * + * {
  margin-block-start: var(--space, 1.5rem);
}

/*
 *
 *  end stack
 *
 ***/

.rounded-border {
  position: relative;
  padding: var(--s-3) var(--s0) ;
  border: 1px solid var(--color-border);
  border-radius: 10px ;
}

.tepiton article.noTitle,
 div.qembed {
  font-family: var(--font-body);
}

div.qembed {
  padding-right: 0;
}

div.qembed header,
div.qembed header a,
div.qembed header a:hover {
  font-size: var(--s-1);
}

div.qembed section {
  font-size: var(--s-1);
  font-weight: 300;
  line-height: 1.5;
}

div.qembed cite {
  font-feature-settings:
  "onum",   /*  onum:   Old style numbers */
  "ss04",   /*  ss04:   Overlapping W   */
  "xs06",   /*  ss06:   happy e */
  "ss08",   /*  ss08:   diamond I dots */
  "ss11",   /*  ss11:   round a */
  "xs14";   /*  ss14:   tail l */

  margin-top: 1em;
  color: var(--color-foreground);
  font-size: var(--s-2);

  /* border-top: 1px solid var(--color-border) ;
  border-top-left-radius: 10px;
  border-left: 1px solid var(--color-border);
  padding: 0 var(--s-2) 0 var(--s0);
  text-align: end; */
}

.tepiton article.noTitle > a,
.tepiton article.noTitle > a:hover,
.tepiton article.noTitle > a:visited {
  color:            var(--color-foreground);
  text-decoration:  none;

}


.tepiton header,
.tepiton header a,
.tepiton header a:hover {
  font-family: var(--font-heading);
  font-size: var(--s1);
  line-height: 1.0;
  font-weight: 700;
  hyphens: auto;
  text-decoration: none;
  margin: 0 0 var(--s-1) 0;
  color: var(--color-heading);
  line-height: 1.2;

  font-feature-settings:"onum",   /*  onum:   Old style numbers */
                        "ss04",   /*  ss04:   Overlapping W   */
                        "xs06",   /*  ss06:   happy e */
                        "ss08",   /*  ss08:   diamond I dots */
                        "ss11",   /*  ss11:   round a */
                        "xs14";   /*  ss14:   tail l */
}

.tepiton article header a:hover {
  text-decoration-color: var(--color-link-hover);
  text-decoration: solid underline;
  text-decoration-thickness: .02px;
  text-underline-offset: 2px;

}

.tepiton h1, h1,
.tepiton h2, h2,
.tepiton h3, h3,
.tepiton h4, h4   { color: var(--color-heading) }

.tepiton h1 { font-size: var(--s5)*var(--tepiton-head-factor) }
.tepiton h2 { font-size: var(--s3)*var(--tepiton-head-factor) }
.tepiton h3 { font-size: var(--s2)*var(--tepiton-head-factor) }
.tepiton h4 { font-size: var(--s1)*var(--tepiton-head-factor) }

figcaption,
figcaption  a {
  color: var(--color-link);
  text-decoration: none;
  border-top: none;
  font-family: var(--font-sans-serif);
  font-size:  var(--s-1);
  text-align: right;
  --space: -0.75rem;
  margin-right: 1px;
}

.post h1,
.post h1 a,
.post h1 a:hover,
.post h1 a:visited { color: var(--color-heading); }

.qimg {  margin-right: .5em;}

.qimg img { width: auto;  }

.with-sidebar {
  display: flex;
  flex-wrap: wrap;
  gap: var(--s1);
}

.with-sidebar > :first-child {
  flex-basis: 8rem;
  flex-grow: 1;
}

.with-sidebar > :last-child {
  margin-top: 0;
  flex-basis: 0;
  flex-grow: 999;
  min-inline-size: 60%;
}

.with-sidebar p { padding-right: 2em; }

/***
 *
 *  headers
 *
 ***/

h1,
h2,
h3,
h4 {
  line-height: 1.0;
  font-family: var(--font-heading);
  font-weight: 700;
  hyphens: auto;
  font-feature-settings:"onum",   /*  onum:   Old style numbers */
                        "ss04",   /*  ss04:   Overlapping W   */
                        "xs06",   /*  ss06:   happy e */
                        "ss08",   /*  ss08:   diamond I dots */
                        "ss11",   /*  ss11:   round a */
                        "xs14";   /*  ss14:   tail l */
}
h1 {  font-size: var(--s5)  }
h2 {  font-size: var(--s3)  }
h3 {  font-size: var(--s2)  }
h4 {  font-size: var(--s1)  }

.logo { color: var(--color-logo); }

/***
 *
 *  links
 *
 ***/

a,
a:visited {
  color: var(--color-link);
  text-decoration: none;
}
a:hover {
  color: var(--color-link-hover);
}

/***
 *
 *  fixups
 *
 ***/

figure  { margin: 0; }
img     { max-width: 100%;
          height: auto;
          margin-top: 0 !important;}
iframe  { max-width: 100%;}
